services:
  - type: web
    name: nasa-apod-explorer
    env: node
    buildCommand: |
      cd frontend
      npm install
      npm run build
      cd ..
      npm install
    startCommand: node backend/server.js
    envVars:
      - key: PORT
        value: 5000
