@import "swiper/css";
@import "swiper/css/effect-fade";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&family=Orbitron:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  background-color: #000;
}

@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none !important;
  }

  .custom-cursor {
    display: block;
  }
}

@media (hover: none) and (pointer: coarse) {
  .custom-cursor {
    display: none !important;
  }

  * {
    cursor: auto !important;
  }
}

.custom-cursor {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  position: fixed;
  background: radial-gradient(circle, #ffffff, #33ccff);
  box-shadow: 0 0 20px #33ccff;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.06s ease-out;
  z-index: 999999;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

* {
  scrollbar-width: none;
}

.modal-scroll-hide::-webkit-scrollbar {
  display: none;
}

.modal-scroll-hide {
  scrollbar-width: none;
}

iframe {
  pointer-events: auto;
}
